<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS if needed -->
</head>
<body>
    <h1>Login</h1>
    <p>Please choose a login method:</p>
    <div>
        <a href="/oauth2/authorization/google">Login with Google</a>
    </div>
    <div>
        <a href="/oauth2/authorization/facebook">Login with Facebook</a>
    </div>
</body>
</html>